
.beginning {
    margin-top: 50px;
    padding-top: 5px;
}

nav {
    background-color: red;
}
  
.container {
    float: right;
    position: fixed;
    top: 0px;
    right: 0px;
    background: red;
    height: 40px;
    width: 100%;
    margin: none;
}

 .thenav {
    float: right;
    margin-right: 20px;
}
  
ul {
    list-style: none;
    margin: 10px;
}
  
.about-me {
  text-align: center;
  padding: 40px;
  background: gray;
}