* {
    margin: 0;
    padding: 0;
  }

h1 {
    margin: 10px;
    padding: 5px;
}

h2 {
    margin: 10px;
    padding: 5px;
}

h3 {
    margin: 10px;
    padding: 5px;
}

p {
    margin: 10px;
    padding: 5px;
}

.pexels-photo {
    height: 200px; 
    width: 200px;
    border-radius: 50%;
}



.intro {
    background:rgb(51, 53, 86);
    padding: 10px;
}
  
.beginning {
    margin-top: 50px;
    padding-top: 5px;
    color: white;
}

.nav a {
    color: white;
}

.nav {
    font-family: "Copperplate", "Courier New", monospace;
}
  
.nav a:link {
    padding: 14px 25px;
  }

a:hover {
    color: white;
    background-color: rgb(92, 91, 91);
  }

.container {
    position: fixed;
    top: 0px;
    right: 0px;
    background: rgb(255, 0, 0);
    height: 40px;
    width: 100%;
    margin: none;
}

 .thenav {
    float: right;

}
  
ul {
    list-style: none;
    margin: 10px;
}
  
.about-me {
  text-align: center;
  padding: 40px;
  background: rgb(92, 91, 91);
  font-family: "Copperplate", "Courier New", monospace;
  color: white;
}

#projects {
    font-family: "Copperplate", "Courier New", monospace;
    color: white;
    background:rgb(51, 53, 86);
    padding: 10px;
}

#contact-info {
    font-family: "Copperplate", "Courier New", monospace;
    background: rgb(92, 91, 91);
    color: white;
    padding: 10px;
}

